<body>

<header>
    <def class="head">Books</def>
</header>

<table>
  <thead>
    <tr>
     <th>題名</th>
     <th>感想</th>
     <th colspan="3"></th>
    </tr>
  </thead>

<!-- ここから、ループ処理の記述 -->
<tbody>

 <% @books.each do |f| %>
  <tr>
      <td><%= f.本のタイトル %></td>
      <td><%= f.感想 %></td>
      <td><%= link_to 'Show', book_path(f.id)  %></td>
      <td><%= link_to 'Edit', edit_book_path(f.id) %></td>
      <td><%= link_to "Destroy", book_path(f.id), method: :delete, data: { confirm: '削除を実行しますか？', commit: '削除', cancel: 'キャンセル'  } %></td>

  </tr>
 <% end %>
</tbody>


</table>


<h2>新規投稿</h2>
<%= form_with model:Book, local:true do |f| %>

<h4>題名</h4>
<%= f.text_field :本のタイトル %>
<h4>感想</h4>
<%= f.text_area :感想 %>
<%= f.submit '投稿' %>

<% end %>





</body>


